SUPABASE_URL = "https://ppsamsfaatkzqmuhagum.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwc2Ftc2ZhYXRrenFtdWhhZ3VtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDUzOTA5NzAsImV4cCI6MjA2MDk2Njk3MH0.1N188EHKc1I2jaJ9AmCQ3sFKYetnfzEby8Id5SWM79M"

